/*Demo styles*/
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;

}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    /*display: -webkit-flex;*/
    /*display: flex;*/
    /*-webkit-box-pack: center;*/
    /*-ms-flex-pack: center;*/
    /*-webkit-justify-content: center;*/
    /*justify-content: center;*/
    /*-webkit-box-align: center;*/
    /*-ms-flex-align: center;*/
    /*-webkit-align-items: center;*/
    /*align-items: center;*/
}
/*音乐开始*/
#music{
    width: 60px;
    height: 60px;
    right: 2%;
    top:2%;
    position: fixed;
    z-index: 10;

}
#music .musicbg{
   width: 60px;
    height: 60px;
}
#music img.musicimg{
    position: absolute;
    left: 8px;
    top: 8px;
    width: 44px;
    height: 44px;
    animation: xuanzhuan 2s linear infinite;
}
@keyframes xuanzhuan {
    100%{
        transform: rotate(360deg);
    }
}
/*音乐结束*/
.swiper-slide.one{
    background: url("../img/onebg.jpg");
    background-size: 100% 100%;
}
.swiper-slide .one-1{
    width: 70%;
    height: 50%;
    border:3px solid #FFFFFF;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 10%;
}
.swiper-slide .one-1 img{
    width: 100%;
}
.swiper-slide .one-2 img:nth-child(1){
     position: absolute;
    left: 5%;
    top: 0;
     width: 35%;
 }
.swiper-slide .one-2 img:nth-child(2){
    width: 100%;
    position: absolute;
    top:15%;
    left: 0;
}
.swiper-slide .one-2{
    width: 70%;
    height: 30%;
    margin: 0 auto;
    margin-top: 5%;
    position: relative;
}
.swiper-slide .one-2 p{
    color: #f3f2f3;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    left: 30%;
    font-size: 6vw;
}
/*第一屏结束*/
/*第二屏开始*/
.swiper-slide.two{
    background: url("../img/twobg.jpg");
    background-size: 100% 100%;
    position: relative;
}
.swiper-slide.two img{
    width: 100%;
}
.swiper-slide.two .top{
    width: 45%;
    height: 25%;
    border: 5px solid white;
    position: absolute;
    top:10%;
    left:10%;
    overflow: hidden;
}
.swiper-slide.two .center{
    width: 65%;
    height: 30%;
    border: 5px solid white;
    position: absolute;
    bottom:50%;
    left:50%;
    overflow: hidden;
    transform: translate(-50%,50%) rotateZ(30deg);
    z-index: 9;
}
.swiper-slide.two .bottom{
    width: 45%;
    height: 25%;
    border: 5px solid white;
    position: absolute;
    bottom:10%;
    right:10%;
    overflow: hidden;
}
.swiper-button-next{
    position: absolute;
    top:auto;
    bottom:0;
    left:46%;
    transform: rotate(-90deg);
    animation: run 1s linear infinite;
    background: url("../img/jiezhi.png");
    background-size: 100% 100%;
}
@keyframes run {
    0%{
        bottom: 0;
        opacity:0;
    }
    100%{
        bottom: 4%;
        opacity:1;
    }
}